* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
  font-family: sans-serif;
}

/*landing page*/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a:hover{
    color: #ee9520;
    text-decoration: underline;
  }
  .sidenav .navitem User:active{
    color: #ee9520;
  }
  
  /*profile section*/
  .profile{
    text-align: center;
    padding: 10px;
  }
  .profile img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .profile p{
    color: #ee9520;
    margin-top: 10px;
  }
  /*navigation links*/
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333;
    display: block;
  }
  
  .sidenav a:focus {
    color: #ee9520;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  .sidenav .profile .button{
    background: #ee9520;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 70%;
    height: 60%;
    padding: 5px 22px;
    border: #ee9520;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
    vertical-align: middle;
    cursor: pointer;
  }
.sidenav .profile .button:hover{
  background-color:  #000;
}
  
  /*User profile*/
.main .card .card-header{
  width: auto;
  height: auto;
  margin: 10px auto;

}
.main .card h3 {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}
.main .card p {
  font-size: 16px;
  color: #000;
}
 
.main .card.table th,
.card.table td {
    font-size: 16px;
    padding: 5px 10px;
    color: #000;
}
.main .row .g-4{
  margin: 5px;

}
.main .row .col .card .img  .float-start{
  margin: 50px;
  padding: 50px;
}
.main .card .mb-3{
  width: 700px;
}


.main .col-md-8{
  padding: 5px;
  text-align: justify;
  width: 75%;
}

.main .card .btn{
  width: 150px;
  background-color: #ee9520;
  align-self: center;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
    padding-top: 0.44rem;
    padding-bottom: 0.44rem;
}
.card-container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;

}
.cards{
  width: 30%;
  height: 30%;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 40px;
  box-shadow: 2px 2px 10px black ;
}
.image img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: .5rem;
}
.title{
  text-align: center;
  padding: 5px;
}

.des{
text-align: center;
padding: 4px;
}

button{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ee9520;
  color: #ffffff;
  border-radius: 1px;
  padding: 5px;
  cursor: pointer;
}

button:hover{
  background-color: #000;
  transition: .5s;
}

/*course
.courses{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin: 10px;
}
.courses .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  gap: 1.5rem;
  justify-content: space-between;
  align-items: flex-start10.254;
}

.courses .box-container .box{
  border-radius: 0.5rem;
  background-color:  var(--white);
  padding: 2rem;
}

.courses .box-container .box h3{
  font-size: 1.8rem;
  color: var(--black);
}

.courses .box-container .box .thumb{
  position: relative;
}


.courses .box-container .box.thumb img{
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.courses.box-container .box .title{
  font-size: 2rem;
  color: var(--black);
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}
.courses .more-btn{
  text-align: center;
  margin-top: 2rem;
}*/

  /*attendance
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  label {
    margin-top: 10px;
    display: block;
  }
  
  select {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  strong {
    margin-right: 10px;
    flex-basis: auto;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  button {
    padding: 8px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 20px;
  }
  
  button.absent,
  button.present,
  button.leave {
    background-color: black;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  /* Responsive styles for mobile view 
  @media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
  
  }
  
  #resultSection {
    margin-top: 20px;
  }
  
  #resultSection h3 {
    margin-top: 10px;
  }
  
  #resultSection p {
    margin-bottom: 5px;
  }
  
  #resultSection span {
    font-weight: bold;
  }
*/
  