* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
}

section{
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
  padding: .2rem;
  box-sizing: 0;
}

/*landing page*/

.nav-nav .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
    padding-top: 20px;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
  .nav-nav .sidenav a:hover{
    color: #ee9520;
    text-decoration: underline;
  }
  .nav-nav .sidenav .navitem User:active{
    color: #ee9520;
  }
  
  /*profile section*/
 .nav-nav .profile{
  align-content: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
  }
  .nav-nav .profile img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .nav-nav .profile p{
    color: #ee9520;
    font-size: large;
  }
  /*navigation links*/
  .nav-nav .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    align-items: center;
    color: #333;
    display: block;
  }
  
  .nav-nav .sidenav a:focus {
    color: #ee9520;
  }
  
  .nav-nav .sidenav .profile .nav-button{
    background: #ee9520;
    width: 75%;
    height:100%;
    padding: 5px;
    border: #ee9520;
    border-radius: 30px;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
  }
.nav-nav .sidenav .profile .nav-button:hover{
  background-color:  #000;
}
  
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}
  /*User profile
.main .card .card-header{
  width: auto;
  height: auto;
  margin: 10px auto;

}
.main .card h3 {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}
.main .card p {
  font-size: 16px;
  color: #000;
}
 
.main .card.table th,
.card.table td {
    font-size: 16px;
    padding: 5px 10px;
    color: #000;
}
.main .row .g-4{
  margin: 5px;

}
.main .row .col .card .img  .float-start{
  margin: 50px;
  padding: 50px;
}
.main .card .mb-3{
  width: 700px;
}


.main .col-md-8{
  padding: 5px;
  text-align: justify;
  width: 75%;
}

.main .card .btn{
  width: 150px;
  background-color: #ee9520;
  align-self: center;
  margin-left: 5px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
    padding-top: 0.44rem;
    padding-bottom: 0.44rem;
}*/

/*courses

.courses .cards-container{
  display: flex;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  gap: 1.5rem;
  justify-content: center;
  align-items: flex-start;
}*/

.courses .cards-container{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between; 
  align-items: center;
  text-align: center;
  gap: 40px;
  padding: 15px;
}
/*.courses .cards-container .cards{
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  padding: 5px;
  background-color:  var(--grey);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}*/

.courses .cards-container .cards {
  height: 100%;
  width: 100%;
  padding: 5px;
  border-radius: .5rem;
  background-color: var(--grey);
  display: inline-block;
  text-decoration: none;
  color: #ee9520;
  font-size: 18px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

 .courses .cards-container .cards:hover{
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
 }

.courses .cards-container .cards .image{
  position: relative;
}

 .courses .cards-container .cards .image img{
  width: 100%;
  height: 20rem;
  padding: 20px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.courses .cards-container .cards .title{
  font-size: 2rem;
  color: #000;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  text-align: center;
}

.courses .cards-container .cards .title .h2{
  font-size: 1.8rem;
  color: var(--black);
}
.courses .cards-container .cards .des{
text-align: center;
padding: 4px;
}

.courses .cards-container .cards .des .view-btn{
  width: 75%;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #ee9520;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.courses .cards-container .cards .des .view-btn:hover{
  background-color: #000;
  transition: .5s;
}
  

/*attendance-student*/

input, button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
button {
  background-color:#ee9520;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color:#e68a13;
}
canvas {
  display: block;
  margin: 20px auto;
}

/*quiz*/

.quiz .icon-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between; 
  align-items: center;
  text-align: center;
  gap: 40px;
  padding: 15px;
}
.quiz .icon-link {
  height: 100%;
  width: 100%;
  padding: 5px;
  border-radius: .5rem;
  background-color: var(--grey);
  display: inline-block;
  text-decoration: none;
  color: #ee9520;
  font-size: 18px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.quiz .icon-link:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.quiz .icon {
  font-size: 50px;
  display: block;
  color: black;
  margin-bottom: 10px;
  padding: 5px;
}

.quiz .icon-link .quiz-title{
  font-size: 2rem;
  color: #000;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  text-align: center;
}

.quiz .icon-link .quiz-title .h2{
  font-size: 1.8rem;
  color: #000;
}

.quiz .icon-link .des-quiz .view-btn-play{
  width: 75%;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color:#ee9520;
  border: 0;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}
.quiz .icon-link .des-quiz .view-btn-play:hover{
 background-color: #000;
 transition: 0.5s; 
text-decoration-line: none;
}
/*quiz section

input, textarea, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
}
button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
.event-list {
  margin-top: 20px;
}
.event {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
.event h3 {
  margin: 0;
}

/*event-student*/

.events-stu .events-list {
  margin-top: 20px;
}
.events-stu .events {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}
.events-stu .events h3 {
  margin: 0;
}


/*teacher section*/
/*teacher-profile*/

.staff-profile .container-staff{
width: 100%;
height: 100%;
padding:50px;
margin-left: 10px;
border-radius: .5rem;
background-color: var(--grey);
display: inline-block;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.staff-profile .container-staff .heading-teacher{
  margin-bottom: 30px;
  text-align: start;
  color: #ee9520;
}

.staff-profile .container-staff #teacherInfo{
text-align: center;
margin-bottom: 20px;
}

.staff-profile .container-staff h3{
  text-align: center;
  margin-top: 50px;
}
#coursesList{
  text-align: center;
}
ul #courses{
text-align: center;
}

/*attendance-teacher*/

input .update-students-btn{
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.update-students-btn {
  background-color: #ee9520;
  color: white;
  cursor: pointer;
}
.update-students-btn:hover {
  background-color: #e68a13;
}
canvas {
  display: block;
  margin: 20px auto;
}
